@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
h1{
    text-align: center;
    color: azure;
}
ul{
    color: azure;
    width: fit-content;
    padding-left: 0;
    margin: 0 auto;
    margin-bottom: 27px;
}
a{
    color: azure;
}
body{
    background-color: rgb(35, 16, 94);
}
p{
    font-family: "Google Sans", sans-serif ;
    text-align: center;
    color: azure;
}
.images{
    text-align: center;
}
.city-text{
    width: 60%;
    margin: 0 auto;
    text-align: left;
    margin-top: 20px;
}
.img1{
    margin-right: 30px;
}
.img2{
    margin-right: 30px;
}
